<main class="contenedor">
  <form action="/crear-cuenta" method="post" class="default-form">

    <div class="campo">
      <label for="" class="nombre">Nombre</label>
      <input type="text" name="nombre" placeholder="Jhon Doe" />
    </div>

    <div class="campo">
      <label for="" class="nombre">Email</label>
      <input type="email" name="email" placeholder="example@mail.com" />
    </div>

    <div class="campo">
      <label for="" class="nombre">Contraseña</label>
      <input type="password" name="password" placeholder="Cree una Contraseña" />
    </div>
    <div class="campo">
      <label for="" class="nombre">Confirmar su contraseña</label>
      <input
        type="password"
        name="confirmar"
        placeholder="Confirme su Contraseña"
      />
    </div>

    <div class="campo acciones">
      <a href="/iniciar-sesion">Volver a inicio de sesión</a>
    </div>

    <div class="campo">
      <input type="submit" value="Crear cuenta" class="btn btn-azul">
    </div>

  </form>
</main>