<main class="contenedor">
  <form method="POST" action="/iniciar-sesion" class="default-form">

    <div class="campo">
      <label for="" class="nombre">Email</label>
      <input type="email" name="email" required />
    </div>

    <div class="campo">
      <label for="" class="nombre">Contrarseña</label>
      <input type="password" name="password" required />
    </div>

    <div class="campo acciones">
      <a href="/crear-cuenta">Crear cuenta</a>
      <a href="/reestablecer-password">Olvidé mi contrasñea</a>
    </div>

    <div class="campo">
      <input type="submit" value="Iniciar sesion" class="btn btn-azul">
    </div>

  </form>
</main>